{% extends 'base.html'  %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-m-4 col-sm-4 my-5">
                <canvas id="myChart"></canvas>
        </div>
        <div class="col-lg-4 col-m-4 col-sm-4 my-5">
            <canvas id="myChart2"></canvas>
    </div>
    <div class="col-lg-4 col-m-4 col-sm-4 my-5">
        <canvas id="myChart3"></canvas>
        
</div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
        const ctx = document.getElementById('myChart');
    
        new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Users', 'Products', 'Brands', 'Reviews', 'orders'],
            datasets: [{
            label: '# of Votes',
            data: ["{{users}}", "{{products}}", "{{brands}}", "{{reviews}}", "{{orders}}"],
            borderWidth: 1
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });

        const ctx2 = document.getElementById('myChart2');
    
        new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ['Recieved', 'Processed', 'Shipped', 'Delivered'],
            datasets: [{
            label: '# of Votes',
            data: ["{{recieved}}","{{processed}}","{{shipped}}","{{delivered}}"],
            borderWidth: 1
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });


        const ctx3 = document.getElementById('myChart3');
        new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: ['Sale', 'New', 'Feature'],
                datasets: [{
                label: '# of Votes',
                data: ["{{new_products}}", "{{sale_products}}", "{{feature_products}}"],
                borderWidth: 1
                }]
            },
            options: {
                scales: {
                y: {
                    beginAtZero: true
                }
                }
            }
            });
</script>
{% endblock body %}