{% extends 'auth_base.html' %}
{% load django_bootstrap5 %}
{% block body %}
  

  
        <section class="user-form-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-12 col-xl-10">
                        <div class="user-form-logo">
                            <a href="index.html"><img src="{{company_data.logo.url}}" alt="logo"></a>
                        </div>
                        <div class="user-form-card">
                            <div class="user-form-title">
                                <h2>welcome!</h2>
                                <p>Use your credentials to access</p>
                            </div>
                            {% if validlink %}
                                <div class="user-form-group">
                                    
                                    <div class="user-form-divider">
                                        <p>or</p>
                                    </div>
                                    <form method="post">
                                        {% csrf_token %}
                                        {% bootstrap_form form %}
                                        {% bootstrap_button button_type="submit" content="Signup" %}
                                    </form>
                                </div>
                            {% else %}
                                <h1>Password reset failed</h1>
                                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                            {% endif %}
                        </div>
                        <div class="user-form-remind">
                            <p>Don't have any account?<a href="/accounts/login">login here</a></p>
                        </div>
                        <div class="user-form-footer">
                            <p>Greeny | &COPY; Copyright by <a href="#">{{company_data.name}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {% endblock body %}
    