


{% extends 'auth_base.html'  %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}

<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-12 col-lg-12 col-xl-10">
                <div class="user-form-logo">
                    <a href="/"><img src="{{company_data.logo.url}}" alt="logo"></a>
                </div>
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>welcome!</h2>
                        <p>Use your credentials to access</p>
                    </div>
                        <form class="user-form" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% bootstrap_button button_type="submit" content="Reset Passwort" %}
                        </form>
                    </div>
                </div>

                <div class="user-form-footer">
                    <p>Greeny | &COPY; Copyright by <a href="/">{{company_data.name}}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}




